#login, #loggedin {
    display: none;
}

h2 {
    margin: 70px 75px;
}

#new_playlist, .dropdown {
    display: block;
    margin: 20px auto;
}
#search, #playlist {
    display: inline-block;
    vertical-align: top;
}

#results {
    display: none;
    margin-top: 40px;
}

#playlist {
    text-align: left;
    margin-left: 25%;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

.glyphicon:hover {
    cursor: pointer;
}
